body{
  background-color: rgb(0, 0, 0);
  margin: 0;
}

#Parent_Container{
    position: fixed;
  background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
pointer-events:none;
}


:root {
  touch-action: pan-x pan-y;
  height: 100% 
}

#Container{
    display: grid;
    grid-gap: 30px;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: 1fr;
    background-color: transparent;
    --Width: 75vw;
    --Height: 70vh;
    position: fixed;
    top: calc(47% - var(--Height)/2);
    left: calc(50% - var(--Width)/2);
    height: var(--Height);
    width: var(--Width);
}

.Increment_Buttons, #Field{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    font-weight:bold;
    font-family: Arial;
    border-radius: 50px;
    color: rgb(28, 28, 28);
    box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.3), inset 0px 3px 0px 2px rgba(255, 255, 255, 0.2);
    background-color: rgb(18, 18, 18);
}

#Plus_Button,#Minus_Button{
    position: relative;
    --Diameter: 25vw;
    height: var(--Diameter);
    width: var(--Diameter);
    top: calc(50% - var(--Diameter)/2);
    left: calc(50% - var(--Diameter)/2);
    border-radius: 100%;
    color: rgba(226, 226, 226, 1);
      text-shadow: 0 0 20px rgb(255,255,255,0.4), 0 0 40px rgb(255,255,255,0.4), 0 0 60px rgb(255,255,255,0.5), 0 0 70px rgba(0,194,159,0.5), 0 0 85px rgba(0,194,159,0.8);
    pointer-events:auto;
}


input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 6rem;
    display: flex;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    color: rgb(202, 199, 210);
    pointer-events:auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}


.Pulse_Button_Animation{
    animation: Pulse_Button 0.25s ease;
}


@keyframes Pulse_Button{
    0%{transform: scale(1);}
    20%{transform: scale(1.2);
    background-color: rgb(29, 79, 57);
    }
    100%{transform: scale(1);}
}



.noFlash {
/* Remove onclick Background Color Change */
/* REFERENCE: https://bit.ly/2Yc95wR */
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-tap-highlight-color: transparent;
}
.noFlash:focus {
  /* Remove onclick Border Color Change */
  /* REFERENCE: https://bit.ly/2KFgNG7 */
  outline: none;
  background-color: white!important;
}

